<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ci24.datafono"
        version="1.0.0">

    <name>Datafono</name>
 <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
         <asset src="www/datacom.js" target="js/datacom.js"/>
        <js-module src="www/datacom.js" name="datacom">
<clobbers target="datacom" />
   
  </js-module> 
    <platform name="android">
             <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-feature android:name="android.hardware.location.gps" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-feature android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
           
          
        </config-file>
    
 <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Comdata">
        <param name="android-package" value="com.ci24.datafono.Comdata"/>
      </feature>
    </config-file>
   

    <source-file src="src/android/Comdata.java" target-dir="src/com/ci24/datafono/"/>
  
  </platform>
    
</plugin>
